<div class="container">
  <header>
    <img src="assets/logo.png" alt="Logo" class="logo">
    <h1>Gestione Clienti e Automobili</h1>
  </header>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <div class="burger-menu">
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="menu">
      <li><a routerLink="/1.1-inserimento-cliente">Inserimento Nuovo Cliente</a></li>
      <li><a routerLink="/1.2-inserimento-automobile">Inserimento Nuova Automobile</a></li>
      <li><a routerLink="/2.1-visualizzazione-cliente">Visualizza Cliente</a></li>
      <li><a routerLink="/2.3-automobili-disponibili">Visualizza Automobili Disponibili</a></li>
    </ul>
  </div>
</div>
